body {
    background: linear-gradient(rgba(255, 255, 255, 0.7)), url("img/coffee-shop.webp");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3c8;
    padding: 32px;
    border: solid 4px rgb(0, 0, 0);
    border-radius: 12px;
    max-width: 400px;
    margin: auto;
}

h1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

h2 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 12px;
    color: white;
    font-weight: bold;
    width: 300px;
    border-radius: 12px;
    cursor: pointer;
    transition: .5s;
    margin: 4px;
}

button:hover {
    transform: scale(1.05);
}

#increment-btn {
    background: rgb(65, 65, 207);
}

#save-btn {
    background: rgb(13, 140, 13);
}

#clear-btn {
    background: rgb(218, 40, 40);
}

#save-entries {
    font-weight: bold;
}

